azure.cognitiveservices.speech
chromadb
pyaudio
grpcio
keyboard
openai
numpy
protobuf==3.20.1
python-dotenv
websocket-client
websockets
tiktoken
SpeechRecognition
tokenizers
elevenlabs
flask
Flask-MySQLdb
langchain_openai
langchain
langchain_community
pydub
config
flask_migrate
cmudict
epitran
librosa
phonemizer
transformers
torch
flask_socketio


